{
  "ap": {
    "ssid": "jiggla",
    "password": "jiggla01",
    "hidden": false
  },
  "hostname": "jiggla",
  "sta": {
    "ssid": "your_wifi_name",
    "password": "your_wifi_password"
  },
  "auth": {
    "enabled": false,
    "username": "admin",
    "password": "Jiggla01"
  },
  "wifi_mode": "ap",
  "ap_availability": "always",
  "ap_timeout": 5,
  "web_port": 80
} 