{
  "ap": {
    "ssid": "jiggla",
    "password": "default_password",
    "hidden": false
  },
  "hostname": "jiggla",
  "sta": {
    "ssid": "your_wifi_name",
    "password": "your_wifi_password"
  },
  "auth": {
    "username": "admin",
    "password": "admin_password"
  },
  "wifi_mode": "ap",
  "ap_availability": "always",
  "ap_timeout": 5,
  "web_port": 8787
} 